<!--<app-test></app-test>
  
<app-test2></app-test2>
<app-login></app-login>
<app-register></app-register>
    <app-showempbyid></app-showempbyid> <app-product></app-product>
    <app-show-employees></app-show-employees>
-->


<app-header></app-header>
<br/>
<br/>
<router-outlet></router-outlet>